$grey: #f2f2f2;
$blue: #0a3039;
$putty: #f4f4ed;
$pink: #fa5d59;
$yellow: #f1f597;

$font-century: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

#root {
	height: 100vh;
	overflow: hidden;
}

body {
	background-color: darken($grey, 5%);
}

body * {
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	box-sizing: border-box;
}

.start {
	background-color: $blue;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100vw;
	position: absolute;
	height: 100vh;
	z-index: 1;
	color: white;

	h1 {
		font-family: $font-century;
		font-weight: bold;
		font-size: 34px;
		margin: 80px 0 25px;
	}

	p {
		font-family: $font-century;
		font-size: 22px;
		margin-bottom: 10px;
	}

	.level {
		color: $pink;
		text-transform: uppercase;
		font-size: 18px;
		display: inline-block;
		margin: 0 10px;
	}

	.prompt {
		font-size: 25px;
	}

	.time {
		font-size: 50px;
		color: $yellow;
		margin-bottom: 20px;
	}
}

.header {
	background-color: $blue;
	font-family: $font-century;
	color: white;
	font-size: 22px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;

	@media screen	and (min-width: 728px) {
		font-size: 30px;
		height: 60px;
	}
}

.restart {
	position: absolute;
	left: 5%;
	top: 11px;
	color: $yellow;
	font-size: 28px;
	font-weight: bold;

	@media screen	and (min-width: 728px) {
		top: 13px;
		font-size: 34px;
	}
}

.timer {
	font-family: $font-century;
	font-size: 27px;
	background-color: $yellow;
	padding: 5px 10px;
	margin-right: 15px;
}

.intro {
	text-align: center;
	height: 20vh;
}

.stats {
	height: calc(20vh - 50px);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $font-century;
	color: $blue;

	@media screen and (min-width: 728px) {
		height: calc(20vh - 60px);
	}
}

ul {
	color: $blue;
	display: grid;
	grid-gap: 10px;
	font-size: 30px;
	justify-content: center;
	align-content: center;
	height: 80vh;
	padding: 20px;
	max-width: 728px;
	margin: 0 auto;

	&.easy {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 130px);

		@media screen	and (min-width: 728px) {
			grid-template-rows: repeat(2, 220px);
			font-size: 46px;
			grid-gap: 20px;
		}
	}

	&.hard {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 100px);

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(2, 130px);
		}
	}

	&.crazy {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(4, 90px);
		font-size: 16px;

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(6, 90px);
			grid-template-rows: repeat(4, 110px);
			font-size: 34px;
		}
	}
}

li {
	text-align: center;
	position: relative;
	perspective: 800px;

	&.flipped {
		pointer-events: none;

		div {
			transform: rotateY( 180deg );
		}
	}
	
	div {
		width: 100%;
		height: 100%;
		position: absolute;
		transform-style: preserve-3d;
		transition: transform 1s;
	}
}

figure {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	box-shadow: 0 0 5px transparentize(black, 0.75);
	border-radius: 5%;
	border: solid 10px white;

	.crazy & {
		border-width: 5px;
	}

	@media screen	and (min-width: 728px) {
		.easy & {
			border-width: 15px;

			&:before {
				width: 60px;
				height: 60px;
				border-width: 12px;
			}
		}

		.crazy & {
			border-width: 10px;
		}
	}
}

.front {
	background: $putty;

	&:before {
		content: '';
		width: 30px;
		border-radius: 50%;
		position: relative;
		background: $pink;
		height: 30px;
		border: solid 6px lighten($blue, 20%);
		box-sizing: border-box;

		.crazy & {
			width: 20px;
			height: 20px;
			border-width: 4px;
		}
	}

	@media screen and (min-width: 728px) {
		.crazy &:before {
			width: 30px;
			height: 30px;
			border-width: 6px;
		}
	}
}

.back {
	background-color: lighten($blue, 60%);
	transform: rotateY( 180deg );
}

.progressContainer {
	height: 5px;
	width: 100%;
	background-color: white;

	div {
		background-color: $pink;
		height: 100%;
	}
}

.shuffle-15 {
	animation: shuffleIn 15s infinite linear;
}

@keyframes shuffleIn {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}
